body{
    background-color: rgb(216, 112, 147);
}

a
{
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
}

nav{
    color: darkblue;
    font-family: montserrat;
    font-size: xx-large;
    font-weight: bold;   
}

hr{
    color: #00ffff;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: montserrat;
}

.Paragraph_Text{
    color: black;
    font-family: montserrat;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.Home_Page{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: montserrat;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

ul
{
    list-style-type: none;
    padding-left: 0;
}

iframe
{
    padding-right: 10px;
}

li
{
    list-style-type: none;
}

.ImageBoxShadow{
    box-shadow: 10px 10px pink;
}

.Box{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
    box-shadow: 10px 10px #ffc0cb;
}

.Box2{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
    box-shadow: 10px 10px #ffc0cb;    
}
  

.Box3{
    width: 600px;
    height: 100px;
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
    box-shadow: 10px 10px #ffc0cb;
}

.Box4{
    width: 400px;
    height: 100px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
    box-shadow: 10px 10px #ffc0cb;
}

.Box5{
    width: 400px;
    height: 50px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
    box-shadow: 10px 10px #ffc0cb;
}

.Box6{
    width: 120px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
    box-shadow: 10px 10px #ffc0cb;    
}

.Box7{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
    box-shadow: 10px 10px #ffc0cb;
}

.Box8{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
    box-shadow: 10px 10px #ffc0cb;    
}

.Box9
{
    width: 180px;
    height: 120px;
    background-color: #add8e6;
    box-shadow: 10px 10px #ffc0cb;
    display: inline-flex;
    justify-content: center;
    margin-left: 20px;
}

.montserrat-webFont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}